{% extends "base.html" %}

<script>
    {% block jquery %}

    var endpoint = '/api/chart/data/';
    var labels = [];
    var default_data = [];
    $.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
    	labels = data.labels;
        default_data = data.default_data;
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
        	type: 'bar',
            data: {
        		labels: labels,
                datasets: [{
					label: labels,
					data: default_data,
                    type: 'line',
                    pointRadius: 0,
                    lineTension: 0,
                    borderWidth: 2
				}]
            },
            options: {
				scales: {
					xAxes: [{
						type: 'time',
						distribution: 'series',
						ticks: {
							source: 'labels'
						}
					}],
					yAxes: [{
						scaleLabel: {
							display: true,
							labelString: 'Closing price ($)'
						}
					}]
				}
			}

        })
    },
    error: function(error_data) {
        console.log('error');
        console.log(error_data)
        }
    });
    {% endblock %}
</script>

{% block content %}

    <div class="row">
        <div class='col-sm-12'>
            <h1>Purple's Fish Tank monitor</h1>
            <h4>Current Tank Temp is {{ current_tank_temp }}</h4>
           <div align="center"><h2 style="font-size: 2000%;">{{ current_tank_temp }}&deg;f</h2></div>
            <div align="left"><h4>Oldest record: {{ earliest_tank_temp }}&deg;f on {{ earliest_date }}</h4></div>
            <div align="right"><h4><a href="/fish/chart">See Graph</a></h4></div>


            <canvas id="myChart" width="95%" height="100"></canvas>

        </div>
    </div>

{% endblock content %}
